@media (min-width:1290px){

    .s4{
        color:white;
    }
    .s1{
        margin-left:2px;
        color:white;
    }
    .s2{
        margin-left:2px;
        color:white;
    }
    .s3{
        margin-left:2px;
        color:white;
    }
    #a1{
        margin-left:2px;
    }
    #a2{
        margin-left:2px;
    }
    #a3{
        margin-left:2px;
    }
    #i2{
        margin-left:2px;
    }
    .s5{
        color:white;
    }
    .but{
        background-color:white;
    }
    .but1{
        background-color:white;
    }
    body{
        overflow-x:hidden;
    }
    .area{
        height:650px;
        width:1600px;
        background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
    }
    #navbar{
        background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
    }
    .marg1{
        height:200px;
        width:400px;
        margin-top:100px;
        margin-left:250px;
    }
    .marg2{
        height:100px;
        width:200px;
        margin-top:50px;
        margin-left:20px;
    }
    .heading1{
        color:white;
        font-size:35px;
    }
    #des{
        margin-top:30px;

    }
    .cen{
        margin-top:60px;
        margin-left:30em;
        height:160px;
        width:660px;
    }
    .abt{
        font-size:40px;
    }
    .abt1{
        font-size:20px;
    }
    .sample{
        height:300px;
        width:300px;
        background-color:grey;
    }
    .samdesc{
        height:200px;
        width:200px;


    }
    #flexid{
        margin-left:20em;
        height:400px;
        width:1000px;
    }
    #samtext{
       margin-left:3em;
    }
    #flag{
        height:300px;
        width:300px;
    }
    #gall{
        height:60px;
        width:100px;
        margin-left:750px;
        margin-top:0px;

    }
    .gal{
        font-size:35px;
    }
    }
    
    @media ( 901px<=width<=1280px){
        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:650px;
            width:1600px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            height:180px;
            width:250px;
            margin-top:90px;
            margin-left:180px;
        }
        .marg2{
            height:80px;
            width:180px;
            margin-top:50px;
            margin-left:15px;
        }
        .heading1{
            color:white;
            font-size:35px;
        }
        #des{
            margin-top:25px;
    
        }
        .cen{
            margin-top:50px;
            margin-left:24em;
            height:120px;
            width:600px;
        }
        .abt{
            font-size:30px;
        }
        .abt1{
            font-size:15px;
        }
        #gall{
            height:60px;
            width:100px;
            margin-left:280px;
            margin-top:0px;

        }
        .gal{
            font-size:20px;
        }
    }   
    @media ( 645px<=width<=900px){
        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:560px;
            width:900px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            height:140px;
            width:180px;
            margin-top:65px;
            margin-left:80px;
        }
        .marg2{
            height:70px;
            width:70px;
            margin-top:40px;
            margin-left:15px;
        }
        .heading1{
            color:white;
            font-size:30px;
        }
        #des{
            margin-top:20px;
    
        }
        .cen{
            margin-top:35px;
            margin-left:21em;
            height:100px;
            width:560px;
        }
        .abt{
            font-size:25px;
        }
        .abt1{
            font-size:15px;
        }
        #flag{
            height:300px;
            width:300px;
        }
    }   
    
    @media (max-width:641px){

        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:400px;
            width:1900px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 1%,rgb(44, 44, 75) 2%,rgb(101, 101, 123)18%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            margin-top:20px;
            height:90px;
            width:110px;
            margin-top:80px;
            margin-left:20px;
        }
        .marg2{
            height:300px;
            width:300px;
            margin-top:50px;
            margin-left:-60px;
        }
        .logo{
            height:260px;
            width:260px;
        }
        .heading1{
            margin-top:20px;
            color:white;
            font-size:20px;
        }
        #des{
            margin-top:10px;
    
        }
        .cen{
            margin-top:3px;
            margin-left:0.25em;
            height:70px;
            width:380px;
        }
        .abt{
            font-size:20px;
        }
        .abt1{
            font-size:15px;
        }
        #flexid{
            width:560px;
        }
        #flag{
            height:140px;
            width:140px;
        }
    }
        